<div [ngClass]="{'panel':true, 
							'panel-success':postLoveIts > 0,
							'panel-danger':postLoveIts < 0,
							'panel-default':postLoveIts == 0
						}">
	<div class="panel-heading">
	    <small class="text-secondary pull-right">{{createdAt | date:' d MMMM y à h:m' }}</small>
	    <h3 class="panel-title">{{postTitle}}</h3>
	</div>
	<div class="panel-body">
	    <p>{{postContent}}</p>
	    <div class="">
  			<button style="margin-right: 10px;" type="button" class="btn btn-success " (click)="like()" >
  				Love it
  			</button>
  			<button type="button" class="btn btn-danger" (click)="disLike()">Don't love it</button>
  		</div>
	</div>	
</div>
