<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3>Liste des Posts</h3>
      <app-post-list-item *ngFor="let post of postList"
                [postTitle]="post.title"
                [createdAt]="post.created_at"
                [postLoveIts]="post.loveIts"
                [postContent]="post.content"></app-post-list-item>
    </div>
    
  </div>
  
</div>